@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend,
textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* =============================== add perso =========================== */
a {
  text-decoration: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  border: 0px solid;
}

hr {
  border: none;
}

.cards div.card:nth-of-type(1) {
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-name: gradual-appearance;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes gradual-appearance {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.cards div.card:nth-of-type(2) {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-name: gradual-appearance;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes gradual-appearance {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.cards div.card:nth-of-type(3) {
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-name: gradual-appearance;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes gradual-appearance {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.menu {
  height: auto;
  display: flex;
  flex-direction: column;
  transform: translateY(50px);
  background: #d4c5c5;
  background-color: #F7F7F7;
}
.menu section:last-of-type div.card:last-of-type {
  margin: 0 0 4rem 0;
}

.section_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0.8rem;
}
.section_menu_title {
  font-weight: 300;
  margin-bottom: 0.2rem;
}
.section_menu_title_underline {
  border-top: 2px solid #99E2D0;
  color: transparent;
  width: 40px;
  margin-bottom: 1rem;
}

.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem 0;
  width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 15px;
  padding: 0.8rem 1rem 0.8rem 0.6rem;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);
}
.cards .card_top_dish_name {
  font-size: 1.1rem;
  font-weight: 700;
}
.cards .card_bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cards .card_bottom_side_dish {
  width: 90%;
  font-size: 0.9rem;
  font-weight: 300;
}
.cards .card_bottom_dish_price {
  width: 10%;
  font-weight: 700;
}
.cards div.card:last-of-type {
  margin: 0 0 2.6rem 0;
}

/*=======================================================================================*/
/*======================================= Main =========================================*/
/*=====================================================================================*/
/*===================================== Geoloc =====================================*/
main {
  /*==================================== Book Menu ===================================*/
  /*======================================= Functioning =======================================*/
  /*======================================= Restaurants =======================================*/
}
main .geoloc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #353535;
  background: #EAEAEA;
}
main .geoloc .fa-solid,
main .geoloc .fa-location-dot {
  padding-right: 16px;
}
main .geoloc span {
  font-weight: 500;
}
main .book_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 288px;
  text-align: center;
  background: #F7F7F7;
}
main .book_menu h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 4rem;
  margin-top: 35px;
}
main .book_menu h2 {
  margin: 12px 0 32px 0;
  font-size: 1.1rem;
  font-weight: 300;
}
main .book_menu button {
  height: 50px;
  padding: 0 20px;
  font-size: 1.05rem;
  color: #fff;
  border: none;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);
}
main .book_menu button:hover {
  background: linear-gradient(170deg, rgba(255, 122, 217, 0.9), rgba(146, 86, 220, 0.9));
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.18);
}
main .functioning {
  height: 440px;
  margin: 3rem 1rem 0;
}
main .functioning_title {
  font-size: 1.5rem;
  font-weight: 700;
}
main .functioning_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  height: 73px;
  width: 323px;
  margin: 2rem 0 0 1rem;
  font-weight: 500;
  background: #F7F7F7;
  border-radius: 15px;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);
}
main .functioning_card_balls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -12px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  background: #9356DC;
  border-radius: 50%;
}
main .functioning_card .fa-mobile-screen-button,
main .functioning_card .fa-list,
main .functioning_card .fa-store {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  margin-left: 12px;
  /*(_balls=24px)/2 --> 12px*/
  color: #7E7E7E;
  font-size: 1.2rem;
}
main .functioning_card_text {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}
main .functioning_card:hover {
  background: #f5edff;
}
main .functioning_card:hover .fa-mobile-screen-button,
main .functioning_card:hover .fa-list,
main .functioning_card:hover .fa-store {
  color: #9356DC;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .restaurants {
  height: 1225px;
  background: #F7F7F7;
  padding: 3.5rem 1.2rem 0;
}
main .restaurants_title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 1.7rem 0;
}
main .restaurants_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.1rem 0;
}
main .restaurants_cards .restaurant_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 335px;
  height: 251px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);
}
main .restaurants_cards .restaurant_card:hover {
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.18);
}
main .restaurants_cards .restaurant_card_image_link {
  width: 335px;
  height: 174px;
}
main .restaurants_cards .restaurant_card_image_landscape {
  width: 335px;
  height: 174px;
  object-fit: cover;
  object-position: bottom;
}
main .restaurants_cards .restaurant_card_image_portrait {
  width: 335px;
  height: 174px;
  object-fit: cover;
  object-position: 0 62%;
}
main .restaurants_cards .restaurant_card_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 77px;
  background: #fff;
}
main .restaurants_cards .restaurant_card_text_left {
  width: 75%;
  margin-left: 1rem;
}
main .restaurants_cards .restaurant_card_text_left_title {
  padding-bottom: 0.1rem;
  font-size: 1.2rem;
  font-weight: 700;
}
main .restaurants_cards .restaurant_card_text_left_location {
  font-size: 1.05rem;
  font-weight: 300;
}
main .restaurants_cards .restaurant_card_text_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  font-size: 1.5rem;
}
main .restaurants_cards .restaurant_card_text_right .fa-solid {
  display: none;
}
main .restaurants_cards .restaurant_card_text_right:hover .fa-regular {
  display: none;
}
main .restaurants_cards .restaurant_card_text_right:hover .fa-solid {
  color: #9356DC;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  /*active le display*/
}
main .restaurants_cards .restaurant_card .new_label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: #008766;
  font-size: 0.93rem;
  font-weight: 500;
  background: #99E2D0;
}

/*=======================================================================================*/
/*======================================= Header =======================================*/
/*=====================================================================================*/
.header_restaurants_menu {
  box-shadow: none;
}

.logo_container_home_link {
  position: absolute;
  left: 22px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #353535;
}

.header_image {
  height: 261px;
}
.header_image_image {
  height: 261px;
  object-fit: cover;
}

.header_image_text {
  position: absolute;
  top: 275px;
  height: 100px;
  width: 100%;
  border-radius: 50px 50px 0 0;
  background: #F7F7F7;
}
.header_image_text_left {
  position: absolute;
  top: 275px;
  height: 100px;
  width: 100%;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.8rem;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8rem;
}
.header_image_text_right {
  position: absolute;
  top: 275px;
  height: 100px;
  width: 100%;
  width: 20%;
  left: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
  font-size: 1.5rem;
}
.header_image_text_right .fa-solid {
  display: none;
}
.header_image_text_right:hover .fa-regular {
  display: none;
}
.header_image_text_right:hover .fa-solid {
  color: #9356DC;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  /*active le display*/
}

/*=======================================================================================*/
/*======================================= Main =========================================*/
/*=====================================================================================*/
/*=======================================================================================*/
/*======================================= Footer =========================================*/
/*=====================================================================================*/
.footer_container {
  transform: translateY(50px);
}

html,
body {
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 375px;
  height: auto;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0px;
  z-index: 1;
  background: #fff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}
header .logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  font-family: "Shrikhand", sans-serif;
  font-size: 2rem;
}

footer {
  width: 100%;
  height: 197px;
  padding: 0 1.2rem;
  background: #353535;
  color: #fff;
}
footer .footer_title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  height: 62px;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.1rem;
  text-rendering: geometricPrecision;
}
footer .footer_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 135px;
  gap: 0.5rem 0;
}
footer .footer_text_line {
  font-size: 0.9rem;
}
footer .footer_text .fa-solid {
  width: 20px;
  margin-right: 0.3rem;
  font-size: 0.7rem;
}

/*# sourceMappingURL=style.css.map */
