@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend,
textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 375px;
  height: auto;
  margin: 0 auto;
}

/*=======================================================================================*/
/*======================================= Header =======================================*/
/*=====================================================================================*/
header {
  position: sticky;
  top: 1px;
  z-index: 1;
  background: #fff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}
header .logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  font-family: "Shrikhand", sans-serif;
  font-size: 2rem;
}

/*=======================================================================================*/
/*======================================= Main =========================================*/
/*=====================================================================================*/
/*===================================== Geoloc =====================================*/
main {
  /*==================================== Book Menu ===================================*/
  /*======================================= Functioning =======================================*/
  /*======================================= Restaurants =======================================*/
}
main .geoloc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #353535;
  background: #EAEAEA;
}
main .geoloc .fa-solid,
main .geoloc .fa-location-dot {
  padding-right: 16px;
}
main .geoloc span {
  font-weight: 500;
}
main .book_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 288px;
  text-align: center;
  background: #F7F7F7;
}
main .book_menu h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 4rem;
  margin-top: 35px;
}
main .book_menu h2 {
  margin: 12px 0 32px 0;
  font-size: 1.1rem;
  font-weight: 300;
}
main .book_menu button {
  height: 50px;
  padding: 0 20px;
  font-size: 1.05rem;
  color: #fff;
  border: none;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);
}
main .book_menu button:hover {
  background: linear-gradient(170deg, rgba(255, 122, 217, 0.9), rgba(146, 86, 220, 0.9));
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.18);
}
main .functioning {
  height: 440px;
  margin: 3rem 1rem 0;
}
main .functioning_title {
  font-size: 1.5rem;
  font-weight: 700;
}
main .functioning_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  height: 73px;
  width: 323px;
  margin: 2rem 0 0 1rem;
  font-weight: 500;
  background: #F7F7F7;
  border-radius: 15px;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);
}
main .functioning_card_balls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -12px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  background: #9356DC;
  border-radius: 50%;
}
main .functioning_card .fa-mobile-screen-button,
main .functioning_card .fa-list,
main .functioning_card .fa-store {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  margin-left: 12px; /*(_balls=24px)/2 --> 12px*/
  color: #7E7E7E;
  font-size: 1.2rem;
}
main .functioning_card_text {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}
main .functioning_card:hover {
  background: #f5edff;
}
main .functioning_card:hover .fa-mobile-screen-button,
main .functioning_card:hover .fa-list,
main .functioning_card:hover .fa-store {
  color: #9356DC;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .restaurants {
  height: 1225px;
  background: #F7F7F7;
  padding: 3.5rem 1.2rem 0;
}
main .restaurants_title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 1.7rem 0;
}
main .restaurants_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.1rem 0;
}
main .restaurants_cards .restaurant_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 335px;
  height: 251px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);
}
main .restaurants_cards .restaurant_card:hover {
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.18);
}
main .restaurants_cards .restaurant_card_image_landscape {
  width: 335px;
  height: 174px;
  object-fit: cover;
  object-position: bottom;
}
main .restaurants_cards .restaurant_card_image_portrait {
  width: 335px;
  height: 174px;
  object-fit: cover;
  object-position: 0 62%;
}
main .restaurants_cards .restaurant_card_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 77px;
  background: #fff;
}
main .restaurants_cards .restaurant_card_text_left {
  width: 70%;
  margin-left: 1rem;
}
main .restaurants_cards .restaurant_card_text_left_title {
  padding-bottom: 0.1rem;
  font-size: 1.2rem;
  font-weight: 700;
}
main .restaurants_cards .restaurant_card_text_left_location {
  font-size: 1.05rem;
  font-weight: 300;
}
main .restaurants_cards .restaurant_card_text_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  font-size: 1.5rem;
}
main .restaurants_cards .restaurant_card_text_right .fa-solid {
  display: none;
}
main .restaurants_cards .restaurant_card_text_right:hover .fa-regular {
  display: none;
}
main .restaurants_cards .restaurant_card_text_right:hover .fa-solid {
  color: #9356DC;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block; /*active le display*/
}

/*=======================================================================================*/
/*======================================= Footer =========================================*/
/*=====================================================================================*/
footer {
  width: 100%;
  height: 197px;
  padding: 0 1.2rem;
  background: #353535;
  color: #fff;
}
footer .footer_title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  height: 62px;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.1rem;
  text-rendering: geometricPrecision;
}
footer .footer_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 135px;
  gap: 0.5rem 0;
}
footer .footer_text_line {
  font-size: 0.9rem;
}
footer .footer_text .fa-solid {
  width: 20px;
  margin-right: 0.3rem;
  font-size: 0.7rem;
}

/*# sourceMappingURL=style.css.map */
