@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend,
textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* =============================== add perso =========================== */
a {
  text-decoration: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  border: 0px solid;
}

hr, button {
  border: none;
}

/*===================== Home =====================*/
/*================== Restaurants_Menu ==================*/
.menu_card_label:nth-of-type(1) {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: gradual-appearance;
  opacity: 0;
  animation-delay: 1s;
}
@keyframes gradual-appearance {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.menu_card_label:nth-of-type(2) {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: gradual-appearance;
  opacity: 0;
  animation-delay: 1.5s;
}
@keyframes gradual-appearance {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.menu_card_label:nth-of-type(3) {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: gradual-appearance;
  opacity: 0;
  animation-delay: 2s;
}
@keyframes gradual-appearance {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.menu_card_label:nth-of-type(4) {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: gradual-appearance;
  opacity: 0;
  animation-delay: 2.5s;
}
@keyframes gradual-appearance {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.restaurant_home_card_text_right input[type=checkbox],
.restaurant_home_card_text_right .checked,
.menu_restaurants_name_heart_icon input[type=checkbox],
.menu_restaurants_name_heart_icon .checked {
  display: none;
  background: linear-gradient(#FF79DA 10%, #9356DC 30%, transparent 0%);
  background-size: 100% 300%;
  animation: heart_animation_bg 1s linear forwards;
  color: #9356DC;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes heart_animation_bg {
  0% {
    background-position: 0 -50%;
  }
  100% {
    background-position: 0 0%;
  }
}

.restaurant_home_card_text_right input[type=checkbox]:checked ~ .checked,
.menu_restaurants_name_heart_icon input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  color: #9356DC;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: opacity-appearance;
  animation-fill-mode: forwards;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.17, 0.62, 0.44, 0.89);
}
@keyframes opacity-appearance {
  0% {
    opacity: 0;
  }
  20% {
    transform: scale(1.5, 1.5);
  }
  40% {
    transform: scale(1, 1);
  }
  60% {
    transform: scale(1.5, 1.5);
  }
  80% {
    transform: scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1.5, 1.5);
  }
}

.restaurant_home_card_text_right input[type=checkbox]:checked ~ .unchecked,
.menu_restaurants_name_heart_icon input[type=checkbox]:checked ~ .unchecked {
  display: none;
  background: linear-gradient(#FF79DA 10%, #9356DC 30%, transparent 0%);
  background-size: 100% 300%;
  animation: heart_animation_bg 1s linear forwards;
  color: #9356DC;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant_home_card_text_right input[type=checkbox]:checked ~ .unchecked .fa-solid,
.menu_restaurants_name_heart_icon input[type=checkbox]:checked ~ .unchecked .fa-solid {
  display: none;
}
.restaurant_home_card_text_right input[type=checkbox]:checked ~ .unchecked:hover .fa-regular,
.menu_restaurants_name_heart_icon input[type=checkbox]:checked ~ .unchecked:hover .fa-regular {
  display: none;
}
.restaurant_home_card_text_right input[type=checkbox]:checked ~ .unchecked:hover .fa-solid,
.menu_restaurants_name_heart_icon input[type=checkbox]:checked ~ .unchecked:hover .fa-solid {
  display: inline-block; /*active le display*/
}
@keyframes heart_animation_bg {
  0% {
    background-position: 0 -50%;
  }
  100% {
    background-position: 0 0%;
  }
}

/*========================================== MOBILE / TAB ==========================================*/
.loader_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.loader_wrapper .loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0.8rem;
}
.loader_wrapper .loader_center_out {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader_center 3s infinite linear;
  position: relative;
  width: 45vw;
  height: 45vw;
  max-width: 325px;
  max-height: 325px;
  border-radius: 50%;
  box-shadow: 0.5vw 0.5vw 0.3vw rgba(255, 121, 218, 0.705), 0.5vw 0.5vw 0.5vw 0.5vw rgba(147, 86, 220, 0.705);
}
@keyframes loader_center {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.loader_wrapper .loader_center_in {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70vw;
  height: 70vw;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 5vw 2.5vw rgba(147, 86, 220, 0.267);
}
.loader_wrapper .loader_text_and_icon {
  animation: loader_text_and_icon 5s infinite linear;
}
@keyframes loader_text_and_icon {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  75% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.loader_wrapper .loader_text_and_icon .fa-utensils,
.loader_wrapper .loader_text_and_icon .loader_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#FF79DA 0%, #9356DC 20%);
  background-size: 100% 200%;
  background-position: 0 -100%;
  animation: loader_text 1.5s infinite linear;
  width: 100%;
  height: auto;
  font-size: clamp(2rem, 15vw, 7rem);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@keyframes loader_text {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: 0 100%;
  }
}
.loader_wrapper .loader_text_and_icon .loader_text {
  font-family: "Shrikhand", sans-serif;
  padding: 0 1rem;
}

/*==========================================DESKTOP==========================================*/
.desktop_logo_loader_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop_logo_loader_wrapper .desktop_logo_loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0.8rem;
}
.desktop_logo_loader_wrapper .desktop_logo_loader_center_out {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader_center 3s infinite linear;
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0.3vw 0.3vw 0.1vw rgba(255, 121, 218, 0.705), 0.3vw 0.3vw 0.1vw 0.1vw rgba(147, 86, 220, 0.705);
}
@keyframes loader_center {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.desktop_logo_loader_wrapper .desktop_logo_loader_center_in {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 1vw 1vw rgba(147, 86, 220, 0.267);
}
.desktop_logo_loader_wrapper .desktop_logo_loader_text_and_icon {
  animation: loader_text_and_icon 5s infinite linear;
}
@keyframes loader_text_and_icon {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  75% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.desktop_logo_loader_wrapper .desktop_logo_loader_text_and_icon .fa-utensils,
.desktop_logo_loader_wrapper .desktop_logo_loader_text_and_icon .desktop_logo_loader_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #9356DC;
  width: 100%;
  height: auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.desktop_logo_loader_wrapper .desktop_logo_loader_text_and_icon .fa-utensils {
  font-size: 2.2rem;
}
.desktop_logo_loader_wrapper .desktop_logo_loader_text_and_icon .desktop_logo_loader_text {
  font-family: "Shrikhand", sans-serif;
  padding: 0 1rem;
  font-size: 2.7rem;
}

.desktop_logo_loader_container,
.desktop_logo_loader_center_in {
  transition: transform 0.5s cubic-bezier(0.2, 0.5, 0.3, 2);
}
.desktop_logo_loader_container:hover,
.desktop_logo_loader_center_in:hover {
  transform: scale(1.3);
}

/*=======================================================================================*/
/*======================================= Main =========================================*/
/*=====================================================================================*/
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #F7F7F7;
}

.section_cards_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: -80px;
  position: sticky;
  z-index: 1;
  background: #F7F7F7;
}

.section_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  width: clamp(375px, 70vw, 550px);
  padding: 0 0.8rem;
  background: #F7F7F7;
}
.section_menu:first-of-type {
  margin-top: 0.4rem;
}
.section_menu_title {
  font-weight: 300;
  margin-bottom: 0.2rem;
}
.section_menu_title_underline {
  width: 40px;
  margin-bottom: 1rem;
  border-top: 2px solid #99E2D0;
  color: transparent;
}
.section_menu_title:hover {
  animation: new_label_shaking 1s infinite;
  font-weight: 400;
}
@keyframes new_label_shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-3px);
  }
  35% {
    transform: translateY(-3px) rotate(7deg);
  }
  55% {
    transform: translateY(-3px) rotate(-7deg);
  }
  65% {
    transform: translateY(-3px) rotate(7deg);
  }
  75% {
    transform: translateY(-3px) rotate(-7deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.order_button {
  height: 50px;
  padding: 0 20px;
  font-size: 1.05rem;
  color: #fff;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.2, 0.5, 0.3, 2);
  width: 50%;
  margin-bottom: 3rem;
  padding: 0 0.8rem;
}
.order_button:hover {
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.18);
  transform: scale(1.2);
}

.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cards .menu_card_label {
  width: 100%;
  height: 70px;
}
.cards .dish_checkbox {
  display: none;
}
.cards .dish_checkbox:checked ~ .card .card_left {
  width: 67%;
}
.cards .dish_checkbox:checked ~ .card .dish_choice_container {
  transform: translateX(-70px);
  background: #71d7be;
}
.cards .dish_checkbox:checked ~ .card .fa-circle-check {
  animation: card_checked 2s cubic-bezier(1, 0.31, 0.4, 0.2) forwards;
  color: #9356DC;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 45px;
  height: 45px;
  left: 12.5px;
  transform: rotateZ(360deg);
}
@keyframes card_checked {
  0% {
    transform: translateY(0px) rotateY(0);
  }
  10% {
    transform: translateY(10px) rotateY(0);
  }
  40% {
    transform: translateY(-45px) rotateY(1080deg);
  }
  50% {
    transform: translateY(0px);
  }
  51% {
    font-size: 1.9rem;
    transform: scale(0.1);
  }
  100% {
    font-size: 2.5rem;
    transform: scale(1);
  }
}
.cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.cards .card:hover {
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.18);
  transform: scale(1.01);
}
.cards .card:hover .card_left {
  width: 67%;
}
.cards .card:hover .dish_choice_container {
  transform: translateX(-70px);
}
.cards .card:hover .fa-circle-check {
  transform: rotateZ(360deg);
}
.cards .card_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.3rem 0;
  width: 85%;
  height: 100%;
  padding: 0.8rem 0 0.8rem 0.6rem;
  white-space: nowrap;
  transition: width 1.5s cubic-bezier(0.2, 0.5, 0.3, 1.5);
}
.cards .card_left_top_dish_name {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cards .card_left_bottom_side_dish {
  width: 100%;
  font-size: 0.85rem;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cards .card_right_dish_price {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.8rem 1rem 0.8rem 0rem;
  font-weight: 700;
}
.cards .dish_choice_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 70px;
  right: -100px;
  background: #99E2D0;
  transition: transform 1.5s cubic-bezier(0.2, 0.5, 0.3, 1.5);
}
.cards .dish_choice_container .fa-circle-check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 31px;
  height: 31px;
  left: 19.5px;
  font-size: 1.9rem;
  color: #fff;
  transition: transform 1.5s;
  transition-delay: 0.2s;
}

.menu section .cards {
  margin: 0 0 2rem 0;
}

.menu section:last-of-type .cards {
  margin: 0 0 3rem 0;
}

.home_wrapper {
  animation: home_pages_display_timeout 3s backwards;
  position: relative;
  z-index: 2;
}
@keyframes home_pages_display_timeout {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*=======================================================================================*/
/*======================================= Main =========================================*/
/*=====================================================================================*/
/*===================================== Geoloc =====================================*/
main {
  /*==================================== Book Menu ===================================*/
  /*======================================= Functioning =======================================*/
  /*======================================= Restaurants =======================================*/
}
main .geoloc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #353535;
  background: #EAEAEA;
}
main .geoloc .fa-solid,
main .geoloc .fa-location-dot {
  padding-right: 16px;
}
main .geoloc span {
  font-weight: 500;
}
main .book_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 288px;
  text-align: center;
  background: #F7F7F7;
  padding: 0 1rem 0;
}
main .book_menu h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 35px 4rem 0;
}
main .book_menu h2 {
  margin: 12px 0 32px 0;
  font-size: 1.1rem;
  font-weight: 300;
}
main .book_menu .book_menu_button {
  height: 50px;
  padding: 0 20px;
  font-size: 1.05rem;
  color: #fff;
  border-radius: 25px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.2, 0.5, 0.3, 2);
}
main .book_menu .book_menu_button:hover {
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.18);
  transform: scale(1.2);
}
main .functioning {
  height: auto;
  margin: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .functioning_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  justify-content: flex-start;
  width: 323px;
}
main .functioning_cards {
  width: 323px;
}
main .functioning_cards .functioning_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  height: 73px;
  width: 100%;
  margin: 2rem 0 0 0rem;
  font-weight: 500;
  background: #F7F7F7;
  border-radius: 15px;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);
}
main .functioning_cards .functioning_card_balls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -12px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  background: #9356DC;
  border-radius: 50%;
}
main .functioning_cards .functioning_card .fa-mobile-screen-button,
main .functioning_cards .functioning_card .fa-list,
main .functioning_cards .functioning_card .fa-store {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  margin-left: 12px;
  /*(_balls=24px)/2 --> 12px*/
  color: #7E7E7E;
  font-size: 1.2rem;
}
main .functioning_cards .functioning_card_text {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}
main .functioning_cards .functioning_card:hover {
  background: #f5edff;
}
main .functioning_cards .functioning_card:hover .fa-mobile-screen-button,
main .functioning_cards .functioning_card:hover .fa-list,
main .functioning_cards .functioning_card:hover .fa-store {
  color: #9356DC;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .restaurants_home {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F7F7F7;
  padding: 3rem 1rem 4rem;
}
main .restaurants_home_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: clamp(335px, 70vw, 550px);
  gap: 1.1rem 0;
}
main .restaurants_home_cards .restaurants_home_title {
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  margin: 0 0 1.7rem 0;
}
main .restaurants_home_cards .restaurant_home_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 251px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);
}
main .restaurants_home_cards .restaurant_home_card:hover {
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.18);
}
main .restaurants_home_cards .restaurant_home_card_image_container {
  width: 100%;
  height: 174px;
}
main .restaurants_home_cards .restaurant_home_card.image {
  width: 100%;
  height: 174px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
main .restaurants_home_cards .restaurant_home_card.image.landscape {
  object-position: center;
}
main .restaurants_home_cards .restaurant_home_card.image.portrait {
  object-position: 0 62%;
}
main .restaurants_home_cards .restaurant_home_card_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 77px;
  background: #fff;
}
main .restaurants_home_cards .restaurant_home_card_text_left {
  width: 80%;
  margin-left: 1rem;
}
main .restaurants_home_cards .restaurant_home_card_text_left_title {
  padding-bottom: 0.1rem;
  font-size: 1.2rem;
  font-weight: 700;
}
main .restaurants_home_cards .restaurant_home_card_text_left_location {
  font-size: 1.05rem;
  font-weight: 300;
}
main .restaurants_home_cards .restaurant_home_card_text_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 1.5rem;
}
main .restaurants_home_cards .restaurant_home_card_text_right .fa-solid {
  display: none;
}
main .restaurants_home_cards .restaurant_home_card_text_right:hover .fa-regular {
  display: none;
}
main .restaurants_home_cards .restaurant_home_card_text_right:hover .fa-solid {
  display: inline-block; /*active le display*/
}
main .restaurants_home_cards .restaurant_home_card .new_label {
  animation: new_label_shaking 1s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  position: absolute;
  padding: 0.4rem;
  top: 0.75rem;
  right: 0.75rem;
  color: #008766;
  font-size: 0.93rem;
  font-weight: 500;
  background: #99E2D0;
}
@keyframes new_label_shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-3px);
  }
  35% {
    transform: translateY(-3px) rotate(7deg);
  }
  55% {
    transform: translateY(-3px) rotate(-7deg);
  }
  65% {
    transform: translateY(-3px) rotate(7deg);
  }
  75% {
    transform: translateY(-3px) rotate(-7deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.menu_wrapper {
  animation: menu_pages_display_timeout 2s;
}
@keyframes menu_pages_display_timeout {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 20%;
  }
  100% {
    opacity: 100%;
  }
}

/*=======================================================================================*/
/*======================================= Header =======================================*/
/*=====================================================================================*/
.header_mob_tab_restaurants_menu {
  box-shadow: none;
}

.mob_tab_logo_container_home_link {
  position: absolute;
  left: 22px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #353535;
}
.mob_tab_logo_container_home_link:hover {
  color: #9356DC;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 261px;
  position: sticky;
  top: 63px;
  width: 99.7%;
  height: 261px;
  object-fit: cover;
}

/*=======================================================================================*/
/*======================================= Main =========================================*/
/*=====================================================================================*/
.menu_restaurants_name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 0.8rem;
  transform: translateY(-40px);
  background: #F7F7F7;
  border-radius: 40px 40px 0 0;
  position: sticky;
  top: 103px;
  z-index: 3;
}
.menu_restaurants_name_text {
  width: 80%;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8rem;
}
.menu_restaurants_name_heart_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 1.5rem;
}
.menu_restaurants_name_heart_icon .fa-solid {
  display: none;
}
.menu_restaurants_name_heart_icon:hover .fa-regular {
  display: none;
}
.menu_restaurants_name_heart_icon:hover .fa-solid {
  display: inline-block; /*active le display*/
}

.cancel_menu_restaurants_name_radius {
  background: #F7F7F7;
  width: 100%;
  height: 40px;
  transform: translateY(-80px);
  position: sticky;
  top: 143px;
  z-index: 2;
}

/*===========================================================================*/
/*==================================DESKTOP==================================*/
/*===========================================================================*/
@media only screen and (min-width: 992px) {
  .loader_wrapper {
    animation: loading_spinner 3s forwards;
  }
  @keyframes loading_spinner {
    0% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .mob_tab_header {
    display: none;
  }
  .top_mob_tab {
    display: none;
  }
  .header_mob_tab_restaurants_menu {
    display: none;
  }
  main .book_menu {
    height: auto;
  }
  main .book_menu h1 {
    margin: 1rem 0 0 0;
  }
  main .book_menu h2 {
    margin: 0.5rem 0 0 0;
  }
  main .book_menu .book_menu_button {
    margin: 1.5rem 0 2rem;
  }
  main .functioning {
    margin: 2rem 1rem 3rem;
  }
  main .functioning_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  main .functioning_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    gap: 0 2rem;
    width: 100%;
  }
  main .functioning_cards .functioning_card {
    margin: 0;
    width: clamp(250px, 29vw, 400px);
  }
}
/*=========================================================================*/
/*================================== MOB / TAB ==============================*/
/*=========================================================================*/
@media only screen and (max-width: 991px) {
  .loader_wrapper {
    animation: loading_spinner 3s forwards;
  }
  @keyframes loading_spinner {
    0% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .desktop_header {
    display: none;
  }
  .top_desktop {
    display: none;
  }
}
/*=========================================================================*/
/*=========================== DISPLAY --> NONE ============================*/
/*=========================================================================*/
@media only screen and (max-width: 374px) {
  body {
    background: #99E2D0;
  }
  .home_wrapper,
  .menu_wrapper {
    display: none;
  }
}
html,
body {
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

.home_wrapper,
.menu_wrapper {
  margin: 0 auto;
  background: #fff;
  width: 100%;
}

header {
  background: #fff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0px;
  z-index: 2;
  background: #F7F7F7;
  box-shadow: none;
}
header .mob_tab_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
}
header .mob_tab_logo_container_text {
  font-family: "Shrikhand", sans-serif;
  font-size: 2rem;
  transition: transform 0.5s cubic-bezier(0.2, 0.5, 0.3, 2);
}
header .mob_tab_logo_container_text:hover {
  color: #9356DC;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.2);
}
header .desktop_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 197px;
  padding: 0 1.2rem;
  background: #353535;
  color: #fff;
}
footer .footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  width: clamp(335px, 70vw, 550px);
  margin: 0;
}
footer .footer_container .footer_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  height: 62px;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.2rem;
  transition: transform 0.5s cubic-bezier(0.2, 0.5, 0.3, 2);
}
footer .footer_container .footer_title:hover {
  color: #9356DC;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.2);
}
footer .footer_container .footer_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 135px;
  gap: 0.5rem 0;
}
footer .footer_container .footer_text_line {
  font-size: 0.9rem;
}
footer .footer_container .footer_text .fa-solid {
  width: 20px;
  margin-right: 0.3rem;
  font-size: 0.7rem;
}

/*# sourceMappingURL=style.css.map */
