@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


@import "./library/reset.scss";
@import "./library/variables.scss";
@import "./library/mixins.scss";
@import "./library/functions.scss";
@import "./library/components/general/header.scss";
@import "./library/components/general/footer.scss";
@import "./library/components/restaurants_menu/animations.scss";
@import "./library/components/restaurants_menu/menu.scss";
@import "./library/components/restaurants_menu/cards.scss";
@import "./pages/home.scss";
@import "./pages/restaurants_menu.scss";



html,
body {
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none;
    }
}

.wrapper {
    width: 375px;
    height: auto;
    margin: 0 auto;
    // height:3000px;             //dev
    // background:#990707ab;     //dev
}

header {
    @include header_component;
}

footer {
    @include footer_component;
}