@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


@import "./library/reset.scss";
@import "./library/variables.scss";

@import "./library/components/general/display.scss";
@import "./library/components/general/gradient_icons.scss";
@import "./library/components/general/gradient_buttons.scss";

@import "./pages/animation_loading_pages.scss";
@import "./library/components/restaurants_menu/animations.scss";
@import "./library/components/restaurants_menu/animation-function_card_appearance.scss";

@import "./library/components/general/header.scss";
@import "./library/components/general/heart_icons.scss";
@import "./library/components/general/footer.scss";
@import "./library/components/general/font.scss";
@import "./library/components/general/loader.scss";

@import "./library/components/restaurants_menu/menu.scss";
@import "./library/components/restaurants_menu/cards.scss";

@import "./pages/home.scss";
@import "./pages/restaurants_menu.scss";
@import "./pages/media_queries.scss";


html,
body {
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none;
    }
}

.home_wrapper,
.menu_wrapper {
    margin: 0 auto;
    background: $wrapper_bg;
    width: 100%;
}

header {
    @include general_header;
    @include mob_tab_header_component;
    @include desktop_header_component;
}

footer {
    @include footer_component;
}