@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


@import "./library/reset.scss";
@import "./library/variables.scss";

@import "./library/components/general/display.scss";
@import "./library/components/general/gradient_icons.scss";
@import "./library/components/general/gradient_buttons.scss";
@import "./library/components/restaurants_menu/animations.scss";
@import "./library/components/general/header.scss";
@import "./library/components/general/heart_icons.scss";
@import "./library/components/general/footer.scss";
@import "./library/components/general/font.scss";

@import "./library/components/restaurants_menu/menu.scss";
@import "./library/components/restaurants_menu/cards.scss";
@import "./library/components/restaurants_menu/animations_functions.scss";

@import "./pages/home.scss";
@import "./pages/restaurants_menu.scss";



html,
body {
    font-family: 'Roboto', sans-serif;
    // -ms-overflow-style: none;
    // scrollbar-width: none;

    // ::-webkit-scrollbar {
    //     display: none;
    // }
}

.wrapper {
    width: 375px;
    margin: 0 auto;
    background: $wrapper_bg;
}

header {
    @include header_component;
}

footer {
    @include footer_component;
}