// desktop >= 992px
// tab >= 768px
// mob < 768px


/*===========================================================================*/
/*==================================DESKTOP==================================*/
/*===========================================================================*/

@media only screen and (min-width: 992px) {


}


/*==========================================================================*/
/*==================================TAB=====================================*/
/*==========================================================================*/

@media only screen and (min-width: 768px) and (max-width : 991px) {

}


/*=========================================================================*/
/*==================================MOB====================================*/
/*=========================================================================*/

@media only screen and (max-width : 767px) {
    .home_wrapper,
    .menu_wrapper{
        width: 100%;
    }
}


/*=========================================================================*/
/*=========================== DISPLAY --> NONE ============================*/
/*=========================================================================*/

@media only screen and (max-width : 374px) {
    body{
        background:$tertiary_color;
    }

    .home_wrapper,
    .menu_wrapper{
        display:none;

    }
}