/*=======================================================================================*/
/*======================================= Header =======================================*/
/*=====================================================================================*/

.logo_container_home_link{
    position:absolute;
    left: 22px;
    font-size: 1.3rem;
    font-weight: $font_bold;
    color:#353535;;
}

/*=======================================================================================*/
/*======================================= Main =========================================*/
/*=====================================================================================*/



