@mixin menu_card_animation{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: gradual-appearance;
    opacity: 0;
    
    @keyframes gradual-appearance {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}
  

@mixin heart_icon_animation{
    animation-name: opacity-appearance;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(.17,.62,.44,.89);
    transform-style: preserve-3d;
    
    @keyframes opacity-appearance {
        0% {
            opacity: 0;
        }
        
        20%{
            transform: scale3d(1.5, 1.5, 1.5)
        }
        
        40%{
            transform: scale3d(1, 1, 1); 
        }
        
        60%{
            transform: scale3d(1.5, 1.5, 1.5)
        }

        80%{
            transform: scale3d(1, 1, 1); 
        }

        100% {
            opacity: 1;
            transform: scale3d(1.5, 1.5, 1.5); //at the end of animation a little translation for center position appear???? 
        }
    }
}
   