/*=======================================================================================*/
/*======================================= Main =========================================*/
/*=====================================================================================*/

.menu { //main
    @include flex_center_column;
    width:100%;
    background-color: $light_bg_color;

    section:last-of-type {
        div.card:last-of-type {
            margin: 0 0 3rem 0;
        }
    }
}

.section_cards_container{
    width: 100%;
    margin-top:(calc($menu_restaurants_name_negative_radius_size * 2));
    position: sticky;
    z-index: 1;
}

.section_menu{
    @include flex_center_column;
    align-items: flex-start;
    width: 100%;
    padding:0 0.8rem;
    background: $light_bg_color;


    &_title{
        font-weight: $font_light;
        margin-bottom:0.2rem;
    
        &_underline{
            width:40px;
            margin-bottom: 1rem;;
            border-top:2px solid $tertiary_color;
            color: transparent; //if span --> don't need for hr
        }
    }
}    

.order_button{
    @include gradient_button;
    width: 50%;
    margin-bottom: 3rem;
    padding:0 0.8rem;
}
