$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;
$fff:#fff;
$light_bg_color: #F7F7F7;
$footer_bg:#353535;
$section_tittle_fs: 1.5rem;
$button_and_hover_gradient: linear-gradient(170deg, $secondary_color, $primary_color );
$box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);           