
@mixin flex_center{
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_center_row {
    @include flex_center;
    flex-direction: row;
}

@mixin flex_center_column {
    @include flex_center;
    flex-direction: column;
}

@mixin flexwrap_nowrap {
    display:flex;
    flex-wrap: nowrap;
}

@mixin flexwrap_wrap {
    display:flex;
    flex-wrap: wrap;
}

@mixin button_hover {
    background: linear-gradient(170deg, hsla(317, 100%, 74%, 0.9), rgba(146, 86, 220, 0.9));
    box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.18 );                          
}