@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_center_row {
    @include flex_center;
    flex-direction: row;
}

@mixin flex_center_column {
    @include flex_center;
    flex-direction: column;
}

@mixin button_hover {
    background: linear-gradient(170deg, rgba(255, 122, 217, 0.9), rgba(146, 86, 220, 0.9)); //equivalent lighten sur gradient
    box-shadow: $box-shadow_hover;
}

@mixin section_tittle_font {
    font-size: 1.5rem;
    font-weight: $font_bold;
}


@mixin linear_gradient_button_icons {
    color: $primary_color;
    background: $button_and_hover_gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


@mixin heart_icon {
    .fa-solid {
        display: none;
    }

    &:hover {
        .fa-regular {
            display: none;
        }

        .fa-solid {
            @include linear_gradient_button_icons;
            display: inline-block;
            /*active le display*/
        }
    }
}


@mixin footer_title {
    @include flex_center;
    justify-content: flex-start;
    height: 62px;
    font-family: $font_logo;
    font-size: 1.1rem;
    text-rendering: geometricPrecision;
}


/*=======================================Restaurants Menu=======================================*/

@mixin header_restaurant_menu_image{
    position:absolute;
    top:275px;
    height: 100px;
    width: 100%;
}