$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;

$buttons_font_color: #fff;
$footer_font_color: #fff;


$wrapper_bg:#fff;
$header_bg: #fff;
$balls_font_color: #fff;
$restaurant_card_text_bg: #fff;
$menu_card_bg: #fff;
$light_bg_color: #F7F7F7;
$footer_bg: #353535;


$button_and_hover_gradient: linear-gradient(170deg, $secondary_color, $primary_color );


$box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.08);
$box-shadow_hover: 2px 7px 7px rgba(0, 0, 0, 0.18);


$font_logo: 'Shrikhand', sans-serif;


$font_bold: 700;
$font_half_bold: 500;
$font_light: 300;

$header_height: 63px;
$menu_restaurants_name_radius_size: 40px;
$menu_restaurants_name_negative_radius_size: calc(-1 * $menu_restaurants_name_radius_size);