@mixin button_hover {
    background: $button_bg_gradient_hover;
    box-shadow: $box-shadow_hover;
}


@mixin gradient_button{
    height: 50px;
    padding: 0 20px;
    font-size: 1.05rem;
    color: $buttons_font_color;
    border-radius: 25px;
    background: $button_bg_gradient;
    box-shadow: $box-shadow;

    &:hover {
        @include button_hover
    }
}

