@mixin linear_gradient_icons {
    color: $primary_color;
    background: $gradient_color;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



