@mixin header_component {
    background: $header_bg;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0px;
    z-index: 2;

    .logo_container {
        @include flex_center;
        width: 100%;
        height: $header_height;

        &_text{
            font-family: $font_logo;
            font-size: 2rem;
        }
    
    
    }
}