@mixin general_header{
    background: $header_bg;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0px;
    z-index: 2;
}


@mixin mob_tab_header_component {

    .mob_tab_logo_container {
        @include flex_center;
        width: 100%;
        height: $header_height;
        
        &_text{
            font-family: $font_logo;
            font-size: clamp(1.2rem, 10vw, 2rem);
            transition: $hover_cubic_bezier;
            
            &:hover{
                @include linear_gradient_icons;
                transform: scale(1.2);
            }
        }
    }
}


@mixin desktop_header_component {
    background: $light_bg_color;
    box-shadow: none;

    .desktop_logo_container {
        @include flex_center;
        width: 100%;
        height: 220px;
    }
}
