
@mixin heart_icon {
    .fa-solid {
        display: none;
    }
    
    &:hover  {
        .fa-regular {
            display: none; //opacité none 
        }

        .fa-solid {
            @include linear_gradient_icons;
            // @include heart_icon_animation;
            display: inline-block;
            /*active le display*/
        }
    }
}

.restaurant_home_card_text_right input[type="checkbox"],
.restaurant_home_card_text_right .checked,
.menu_restaurants_name_heart_icon input[type="checkbox"],
.menu_restaurants_name_heart_icont .checked {
    display: none;
}

.restaurant_home_card_text_right input[type="checkbox"]:checked~.checked,
.menu_restaurants_name_heart_icon input[type="checkbox"]:checked~.checked {
    display:inline-block;
    @include linear_gradient_icons;
    @include heart_icon_animation;
}

.restaurant_home_card_text_right input[type="checkbox"]:checked~.unchecked,
.menu_restaurants_name_heart_icon input[type="checkbox"]:checked~.unchecked {
    display:none;
    @include heart_icon;
}







// .heart_icon_checkbox[type=checkbox] {
//  appearance: none;
// }

// .heart_icon_checkbox[type=checkbox] {
//     -border-radius: 4px;
//     height: 30px;
//     width: 30px;
//     background: transparent;
//     // background: #fff;
//     // border: 1px solid #ccc;
// }

// .heart_icon_checkbox[type="checkbox"]:checked {
//     background: $button_bg_gradient;
//     margin:0px;
//     // position: relative;
//     &:before {
//     height: 30px;
//     width:30px;
//     font-family: FontAwesome;
//     content: '\f00c';
//     display: block;
//     color: rgb(167, 21, 21);
//     font-size: 20px;
//     //   position: absolute;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     }
//   }