@mixin heart_icon {
    .fa-solid {
        display: none;
    }

    &:hover  {
        .fa-regular {
            display: none; //opacité none //html checkbox selecteur :checked
        }

        .fa-solid {
            @include linear_gradient_icons;
            @include heart_icon_animation;
            display: inline-block;
            /*active le display*/
        }
    }

    
}


// :checked {
//         background: $button_and_hover_gradient;
//     }