
@mixin heart_icon {
    .fa-solid {
        display: none;
    }
    
    &:hover  {
        .fa-regular {
            display: none; //opacité none 
        }

        .fa-solid {
            @include linear_gradient_icons;
            display: inline-block; /*active le display*/
        }
    }
}

.restaurant_home_card_text_right input[type="checkbox"],
.restaurant_home_card_text_right .checked,
.menu_restaurants_name_heart_icon input[type="checkbox"],
.menu_restaurants_name_heart_icont .checked {
    display: none;
}

.restaurant_home_card_text_right input[type="checkbox"]:checked~.checked,
.menu_restaurants_name_heart_icon input[type="checkbox"]:checked~.checked {
    display:inline-block;
    @include linear_gradient_icons;
    @include heart_icon_animation;
}

.restaurant_home_card_text_right input[type="checkbox"]:checked~.unchecked,
.menu_restaurants_name_heart_icon input[type="checkbox"]:checked~.unchecked {
    display:none;
    @include heart_icon;
}