
.loader_wrapper{
    @include home_loading_spinner;
    @include flex_center;
    // background:$tertiary_color;
    // border: 4px solid orange;
    position:fixed;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    z-index:1;


.container{
    @include flex_center;
    width:100%;
    height:auto;
    margin: 0.8rem;
    // border: 4px solid rgb(0, 255, 13);
}


.center_out{
    @include flex_center;
    @include loader_animation_center;
    position:relative;
    width:45vw;
    height:45vw;
    max-width: 325px;
    max-height: 325px;
    border-radius:50%;
    box-shadow: 0.5vw 0.5vw 0.3vw rgba($secondary_color, 0.705), // X  Y  blur-radius/rayon de flou  spread-radius/rayon étalement
                0.5vw 0.5vw 0.5vw 0.5vw rgba($primary_color, 0.705);
}

.center_in{
    @include flex_center;
    // @include center_in_border;
    position:absolute;
    width:70vw;
    height:70vw;
    max-width: 500px;
    max-height: 500px;
    border-radius:50%; 
    box-shadow: inset 0px 0px 5vw 2.5vw rgba($primary_color, 0.267);
}


.text_and_icon{
    @include loader_text_and_icon;

    .fa-utensils,
    .text{
        @include flex_center_column;
        @include loader_animation_text;
        width:100%;
        height:auto;
        font-size: clamp(2rem, 15vw, 7rem);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .text{
        font-family: $font_logo;
        padding:0 1rem;
    } 
}
}
